/* PERMITIR ACENTUAÇÕES  */
@charset "UTF-8";

/* FONTES */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');


/* CONFIGURAÇÕES GLOBAIS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* PALETA DE CORES  */
:root {
    --cor0: #ffffff;
    --cor1: #8dcca9;
    --cor2: #6cc091;
    --cor3: #4bae77;
    --cor4: #ffffff8c;
}

/* CORPO */
html, body {
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    min-height: 100vh;
}

.container {
    max-width: 88%;
    margin: auto;
}