/* PERMITIR ACENTUAÇÕES  */
@charset "UTF-8";

/* FONTES */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');


/* CONFIGURAÇÕES GLOBAIS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* PALETA DE CORES  */
:root {
    --cor0: #ffffff;
    --cor1: #8dcca9;
    --cor2: #6cc091;
    --cor3: #4bae77;
    --cor4: #ffffff8c;
}

/* CORPO */
html, body {
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    min-height: 100vh;
}

.container {
    max-width: 88%;
    margin: auto;
}

/* CABEÇALHO */
.cabecalho {
    background-color: var(--cor2);
    padding: 0.7rem;
    position: fixed;
    width: 100%;
}

/* POSICIONAMENTO H1 E NAV */
.posicionamento-titulo-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.posicionamento-titulo-menu a {
    color: var(--cor0);
    text-decoration: none;
    font-size: 1rem;
}

.posicionamento-titulo-menu h1 span {
    font-weight: lighter;
}

/* MENU */
.menu {}

/* BOTÕES ABRIR E FECHAR MENU */
.menu .btn-abrir-menu {
    display: none;
    background-color: transparent;
    border: none;
}

.menu .btn-fechar-menu {
    background-color: transparent;
    border: none;
    display: none;
}

.menu .btn-abrir-menu .fa {
    font-size: 2.2em;
    color: white;
    float: right;
    margin-right: 1rem;
    cursor: pointer;
}

.menu .btn-fechar-menu .fa-solid {
    font-size: 2.2em;
    color: white;
    z-index: 3;
    position: fixed;
    top: 1rem;
    cursor: pointer;
    right: -100%;
    transition: .5s;
}

.menu .lista-menu {
    list-style: none;
    display: flex;
}

.menu .lista-menu .item-menu {
    padding: 0 1rem;
}

.menu .lista-menu .item-menu a {
    text-decoration: none;
    color: var(--cor0);
}

.menu .lista-menu .item-menu .underline::before {
    content: '';
    display: block;
    width: 100%;
    position: relative;
    height: 2px;
    bottom: -2px;
}

.menu .lista-menu .item-menu .underline::after {
    content: '';
    display: block;
    width: 100%;
    position: relative;
    height: 2px;
    background-image: linear-gradient(to right, var(--cor3), var(--cor1));
    transition: .3s ease-in-out;
    transform: scaleX(0);
    transform-origin: left;
}

.menu .lista-menu .item-menu a:hover ~ .underline::after {
    transform: scaleX(1);
}

.menu .lista-menu .item-menu a:hover {
    color: var(--cor3);
}

/* CONTEÚDO PRINCIPAL */
.conteudo {}

/* SEÇÃO AGORA */
.secao-agora {
    padding: 9rem 0;
}

.secao-agora h1 {
    text-align: center;
    font-weight: 300;
    font-size: 2.8em;
    color: #555;
    margin-bottom: 1rem;
}

.secao-agora span {
    text-align: center;
    display: block;
    font-size: 1em;
    color: #bbb;
    margin-bottom: 4rem;
}

.secao-agora .img-p {
    margin-bottom: 1.5rem;
}

.secao-agora .img-p figure {
    padding-right: 1.6rem;
    float: left;
}

.secao-agora .img-p #img-2 {
    padding-left: 1.6rem;
    float: right;
}

.secao-agora .img-p figure img {
    border-radius: 50%;
    width: 100%;
}


.secao-agora p {
    color: #9a9a9a;
    line-height: 1.7rem;
}

/* SEÇÃO FORMULÁRIO */
.secao-form {
    background-color: var(--cor2);
    padding: 6em 0;
}

.secao-form form {} 

.secao-form form h2 {
    text-align: center;
    color: var(--cor0);
    font-weight: 400;
    margin-bottom: 3rem;
    font-size: 1.7em;
} 

.secao-form form fieldset.nome-email {
    border: none;
} 

.secao-form form fieldset.nome-email {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 1.4rem;
} 

.secao-form form fieldset.nome-email .input-box {
    display: flex;
    flex-direction: column;
    width: 50%;
} 

.secao-form form fieldset.nome-email .input-box label {
    color: var(--cor0);
    font-weight: 600;
    margin-bottom: 1.3rem;
    font-size: 0.9em;
} 

.secao-form form fieldset.nome-email .input-box input {
    background-color: transparent;
    padding: 0.7rem 1.2rem;
    border: 2px solid var(--cor1);
    border-radius: 10px;
    outline: none;
} 

.secao-form form fieldset.nome-email .input-box input:focus-visible {
    border-color: #4bae77;
    box-shadow: 0 0 0 1px #4bae77;
}

.secao-form form .text-box {
    margin-bottom: 2rem;
} 

.secao-form form .text-box label {
    color: var(--cor0);
    margin-bottom: 1.3rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
} 

.secao-form form .text-box textarea {
    border: 1px solid var(--cor3);
    background-color: transparent;
    width: 100%;
    border: 2px solid var(--cor1);
    outline: none;
    border-radius: 10px;
    padding: 1.2rem;
} 

.secao-form form .text-box textarea:focus-visible {
    border-color: #4bae77;
    box-shadow: 0 0 0 1px #4bae77;
} 

.secao-form form fieldset.nome-email .input-box input::placeholder {
    color: #abfacf;
    font-weight: 400;
}

.secao-form form .text-box textarea::placeholder {
    color: #abfacf;
    font-weight: 400;
}

.secao-form form .button-box input{
    padding: 0.8rem 2.7rem;
    border: 3px solid var(--cor0);
    border-radius: 30px;
    margin: auto;
    color: var(--cor0);
    display: block;
    background-color: transparent;
    cursor: pointer;
    margin-bottom: 2rem;
    text-transform: uppercase;
}
.secao-form form .button-box input:hover {
    background-color: #86ebb2c0;
    transition: .5s;
}

.secao-form form #button-especial {} 

/* RODAPÉ */
footer {
    background-color: var(--cor2);
}

footer p {
    padding-bottom: 2em;
    text-align: center;
    font-size: 0.8em;
    color: rgba(255, 255, 255, 0.5);
}

footer p a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}
footer p a:hover {
    color: var(--cor0);
}

@media screen and (max-width: 992px) {
    .container {
        max-width: 93%;
    }

    .secao-agora {
        padding: 7rem 0;
    }

    /* BOTÃO MENU */
    .menu .btn-abrir-menu {
        display: block;
    }

    .menu .btn-fechar-menu {
        display: block;
    }

    .menu .btn-fechar-menu .fa.active {
        display: block;
    }

    .menu .btn-fechar-menu .fa-solid.active {
        right: 1rem;
    }

    .menu .lista-menu.active {
        right: 0;
    }

    .menu .lista-menu {
        width: 20em;
        background-color: var(--cor2);
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        display: flex;
        z-index: 1;
        padding-top: 0.5rem;
        padding-left: 0.2rem;
        flex-direction: column;
        box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.582);
        transition: all .5s;
    }

    .menu .lista-menu .item-menu {}

    .menu .lista-menu .item-menu a {
        color: #daefe3;
        font-size: 1.2em;
        display: block;
        padding: 1rem 0 1rem 0;
        width: 100%;
    }

    .menu .lista-menu .item-menu .underline {
        display: none;
    }

    .menu .lista-menu .item-menu a#border {
        border-top: 1px solid var(--cor1);
        border-bottom: 1px solid var(--cor1);
    }

    .secao-form {
        padding: 2em 0;
    }

    .secao-form form fieldset.nome-email {
        flex-direction: column;
        align-items: center;
    }

    .secao-form form fieldset.nome-email .input-box {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}

@media screen and (max-width: 505px) {
    .secao-form form .button-box input {
        width: 100%;
    }
}